
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("dr.jpg");
    background-position: center;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    border-bottom: 1px dotted rgb(24, 255, 255);
}
.right-nav {
    display: inline-block;
    background-color: transparent;
}

.links {
    display: inline-block;
    padding: 15px;
    background-color: transparent;
    margin-top: 8px;
    margin-left: -30px;
}

.links a {
    text-decoration: none;
    color:  rgb(24, 255, 255);
    font-size: 14px;
    font-weight: bold;
    margin-right: 75px;
}

.right {
    margin-top: 8px;
    float: right;
}


.right{
    width: 50%;
    display: inline-block;
    margin-top: 250px;
    margin-right: -600px;
}

.right .ab{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 1px solid rgb(24, 255, 255);
    box-shadow: 10px 10px 20px rgba(39, 219, 255, 0.2);
    
}

.left{
    width: 50%;
    display: inline-block;
    padding: 100px;
    margin-top: 70px;
}
.buttons{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    display: inline-block;
    margin-top: 70px;
    margin-left: 50px;
}
.left h1{
    color: rgb(24, 255, 255);
    font-size: 50px;
    margin-top: 100px;
    margin-left: 50px;
}
.left p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 1.5;
}

.Contact{
        padding: 10px 20px;
        background-color: rgb(24, 255, 255);
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        margin-left: 8px;
        cursor: pointer;


}
.view{
        padding: 10px 20px;
        background-color: rgb(24, 255, 255);
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        margin-left: 8px;
        cursor: pointer;


}